@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

.button {
  background-color: #EE3643;
  height: 38px;
  border: none;
  text-decoration: none;
}

/* .visually-hidden {
  visibility: hidden;
} */

.page-header {
  background-color: #F1F5F7;
  color: #FFFFFF;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.menu-wrapper {
  background-color: #293449;
}

.menu-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.logo {
  background-color: #EE3643;
  background-size: 100% auto;
  border-bottom: #b52933 solid 5px;
  display: inline-block;
  text-align: center;
}

.header-logo {
  width: 220px;
  height: 42px;
}

.search {
  background-color: #293449;
  outline: none;
  border: none;
}

.search-icon {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
}

.search::placeholder {
  color: #FFFFFF;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-header a {
  text-decoration: none;
}

.menu-link {
  color: #FFFFFF;
  text-decoration: none;
}

.purchase-link {
  background-color: #63A63E;
}

.header-wrapper-light {
  background-color: #F1F5F7;
}

.header-container-light {
  width: 940px;
  display: flex;
  margin: 0 auto;
}

.company-description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  color: #EE3643;
  vertical-align: middle;
  width: 200px;
  margin-right: 92px;
}

.header-contacts {
  width: 270px;
}

.header-contacts-address-phone {
  font-size: 21px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
  color: #EE3643;
  vertical-align: center;
}

.header-contacts-physical-address {
  font-size: 14px;
  font-style: normal;
  vertical-align: middle;
  color: #32425C;
}

.user-block {
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
}

.user-block-item {
  padding: 12px 24px;
  background-color: #FFFFFF;
}

.user-block-link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  vertical-align: middle;
}

.user-name-link {
  background-color: #FFFFFF;
}

.user-menu-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
}

.navigation {
  background-color: #32425C;
  border-bottom: #293449 solid 5px;
  width: 940px;
  margin: 0 auto;
}

.navigation-list {
  list-style-type: none;
  padding: 16px 53px;
  display: flex;
  justify-content: space-between;
}

.navigation-link {
  color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #FFFFFF;
}

.main-container-white {
  width: 940px;
  margin: 0 auto;
}

.offers {
  font-family: "Cuprum", sans-serif;
  color: #FFFFFF;
  text-align: left;
  display: flex;
}

.offers-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.offers a {
  color: #FFFFFF;
  text-decoration: none;
}

.offers-item {
  background-position: right;
  width: 300px;
  padding: 21px 22px;
}

.offers-item:first-child {
  background-color: #FFBF47;
  background-image: url("../images/icons/paint.svg");
  background-repeat: no-repeat;
}

.offers-item:nth-child(2) {
  background-color: #3BBCE3;
  background-image: url("../images/icons/perforator.svg");
  background-repeat: no-repeat;
}

.offers-item:nth-child(3) {
  background-color: #DC91D8;
  background-image: url("../images/icons/tractor.svg");
  background-repeat: no-repeat;
}

.offers-item:nth-child(4) {
  background-color: #8ED78F;
  background-image: url("../images/icons/shopping-cart.svg");
  background-repeat: no-repeat;
}

.offers-item:last-child {
  background-color: #FFBF47;
  background-image: url("../images/icons/car.svg");
  background-repeat: no-repeat;
}

.offers-title {
  font-size: 24px;
  font-style: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.offers-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider {
  width: 620px;
}

.slider-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
}

.slider-button {
  width: 22px;
  height: 40px;
  background-image: url("../images/icons/button-prev.svg");
  background-repeat: no-repeat;
  border: none;
}

.popular-products {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.popular-products-container {
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  background-color: #F9F5F0;
  padding: 30px 14px;
  padding-left: 28px;
  display: flex;
  flex-wrap: wrap;
}

.popular-products-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.all-products-button {
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  border: none;
  margin-left: auto;
}

.product-card {
  width: 220px;
  text-align: center;
  border: #EAEAEA solid 1px;
}

.old-price {
  color: #A9A9A9;
}

.new-price {
  color: #FFFFFF;
  border: none;
}

.popular-producers-container {
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  background-color: #F9F5F0;
  padding: 30px 14px;
  padding-left: 28px;
  display: flex;
  flex-wrap: wrap;
}

.popular-producers-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-producers-button {
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  border: none;
  margin-left: auto;
}

.popular-producers-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.producer-logo {
  width: 220px;
  min-height: 145px;
  box-sizing: border-box;
  border: #EAEAEA solid 1px;
  text-align: center;
}

.producer-link {
  background-color: #FFFFFF;
}

.services {
  background-color: #F1F5F7;
  color: #000000;
}

.services-container {
  width: 940px;
  margin: 0 auto;
}

.main-container-white {
  width: 940px;
  margin: 0 auto;
}

.services-title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services-button {
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #32425C;
  border: none;
  width: 240px;
  margin-right: 80px;
}

.services-button-active {
  color: #32425C;
  background-color: #FFFFFF;
}

.services-slider {
  background-image: url("../images/delivery-car.png");
  background-repeat: no-repeat;
}

.services-slider-title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  font-weight: 400;
  text-transform: uppercase;
}

.about-company-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.company {
  width: 460px;
}

.company-title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.company-partner-list {
  list-style-image: url("../images/list-style-type-dash.jpg");
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.company-details-button {
  display: block;
  width: 220px;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}

.contacts {
  width: 300px;
}

.contacts-title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.contacts-map-button {
  padding: 0;
  border: none;
}

.contact-us-button {
  width: 300px;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}

.page-footer {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425C;
}

.page-footer-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.footer-logo {
  width: 220px;
  height: 63px;
}

.page-footer a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

.footer-contacts {
  color: #F3F7F9;
}

.footer-contacts-physical-address {
  font-style: normal;
  width: 333px;
  margin: 0;
}

.footer-navigation-list {
  list-style-type: none;
  color: #F1F5F7;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-navigation-item {
  margin-left: 58px;
}

.footer-navigation-item:nth-child(n + 6) {
  color: #FFD180;
}

.footer-copyright-social-wrapper {
  font-family: "Cuprum", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #293449;
}

.footer-copyright-social-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.copyright {
  width: 333px;
  margin-right: 53px;
}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #212A3A;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer-social-item:first-child {
  background-image: url("../images/icons/vkontakte.svg");
}

.footer-social-item:nth-child(2) {
  background-image: url("../images/icons/facebook.svg");
}

.footer-social-item:last-child {
  background-image: url("../images/icons/instagram.svg");
}

.page-footer .htmlacademy-link {
  color: #FFD180;
}

.feedback {
  width: 140px;
  margin-left: auto;
}

.about-text {
  width: 110px;
  margin-left: auto;
}

.main-inner {
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs-link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-title {
  background-color: #F1F5F7;
  color: #32425C;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog-filter-title {
  background-color: #F7F3EC;
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
}

.filter-group-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.control {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.show-product-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: #E5E5E5 solid 1px;
}

.catalog-sort {
  background-color: #F7F3EC;
}

.catalog-sort-title {
  background-color: #F7F3EC;
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-sort-list {
  list-style-type: none;
}

.catalog-sort-button {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #EE3643;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
}

.catalog-sort-button-active {
  color: #EE3643;
  text-decoration: none;
}

.sort-button {
  background-image: url("../images/icons/triangle-grey-2.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;
}

.sort-button-active {
  background-image: url("../images/icons/triangle-red-1.svg");
  background-repeat: no-repeat;
}

.product-list,
.product-card-menu {
  list-style-type: none;
}

.product-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

}

.purchase-button {
  background-color: #63A63E;
  color: #FFFFFF;
  border: none;
}

.add-bookmark-button {
  background-color: #FFFFFF;
  border: #63A63E solid 3px;
  color: #32425C;
}

.pagination {
  list-style-type: none;
}

.pagination-link {
  color: #000000;
  background-color: #FFFFFF;
  border: #E5E5E5 solid 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-current {
  color: #FFFFFF;
  background-color: #EE3643;
}

.about-perforators {
  background-color: #F1F5F7;
}

.about-perforators-title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.about-perforators-text {
  line-height: 24px;
}
