@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

.button {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #EE3643;
  height: 38px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #F1F5F7;
  color: #FFFFFF;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.menu-wrapper {
  background-color: #293449;
}

.menu-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.logo {
  background-color: #EE3643;
  background-size: 100% auto;
  border-bottom: #b52933 solid 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 220px;
  height: 42px;
}

.search-form {
  flex-grow: 1;
}

.search {
  background-color: #293449;
  outline: none;
  border: none;
  color: #FFFFFF;
}

.search-icon {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
}

.search::placeholder {
  color: #FFFFFF;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 450px;
  justify-content: end;
}

.page-header a {
  text-decoration: none;
}

.menu-item {
  width: 150px;
  min-height: 42px;
}

.menu-link {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 9px 16px 9px 19px;
}

.purchase-link {
  background-color: #63A63E;
}

.header-wrapper {
  background-color: #F1F5F7;
  padding-bottom: 60px;
}

.header-container {
  width: 940px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-left: 30px;
  padding-top: 46px;
}

.company-description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  color: #EE3643;
  vertical-align: middle;
  width: 200px;
  margin: 0;
  margin-right: 92px;
}

.header-contacts {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.header-contacts-address-phone {
  font-size: 21px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
  color: #EE3643;
  padding: 8px 40px 8px 72px;
  border: #FFFFFF solid 3px;
  text-align: left;
  width: 270px;
  margin-bottom: 3px;
}

.header-contacts-physical-address {
  font-size: 14px;
  font-style: normal;
  vertical-align: middle;
  color: #32425C;
  max-width: 260px;
  margin: 0;
}

.user-block {
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  align-items: flex-start;
  width: 281px;
  flex-wrap: wrap;
}

.user-block-item {
  background-color: #FFFFFF;
  margin: 0;
  margin-right: 10px;
}

.user-block-item:last-child {
  margin-right: 0;
}

.user-block-button {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding-top: 12px;
  padding-bottom: 12px;
}

.login-button {
  padding-right: 26px;
  padding-left: 45px;
}

.register-button {
  padding-right: 24px;
  padding-left: 24px;
}

.navigation {
  background-color: #32425C;
  border-bottom: #293449 solid 5px;
  width: 940px;
  margin: 0 auto;
}

.navigation-list {
  list-style-type: none;
  padding: 8px 45px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-item {
  padding: 8px;
  margin-right: 40px;
}

.navigation-item:nth-child(7n) {
  margin-right: 0;
}

.navigation-link {
  color: #FFFFFF;
}

.main-container-wrapper {
  flex-grow: 1;
}

.main-index {
  background-color: #FFFFFF;
  padding-top: 60px;
}

.main-container {
  width: 940px;
  margin: 0 auto;
}

.offers {
  font-family: "Cuprum", sans-serif;
  color: #FFFFFF;
  text-align: left;
  display: flex;
  margin-bottom: 60px;
}

.offers-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.offers a {
  color: #FFFFFF;
  text-decoration: none;
}

.offers-item {
  background-position: right;
  width: 300px;
  padding: 21px 22px;
}

.offers-item:first-child {
  background-color: #FFBF47;
  background-image: url("../images/icons/paint.svg");
  background-repeat: no-repeat;
}

.offers-item:nth-child(2) {
  background-color: #3BBCE3;
  background-image: url("../images/icons/perforator.svg");
  background-repeat: no-repeat;
}

.offers-item:nth-child(3) {
  background-color: #DC91D8;
  background-image: url("../images/icons/tractor.svg");
  background-repeat: no-repeat;
}

.offers-item:nth-child(4) {
  background-color: #8ED78F;
  background-image: url("../images/icons/shopping-cart.svg");
  background-repeat: no-repeat;
}

.offers-item:last-child {
  background-color: #FFBF47;
  background-image: url("../images/icons/car.svg");
  background-repeat: no-repeat;
}

.offers-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.offers-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider {
  width: 620px;
}

.slider-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
}

.slider-button {
  width: 22px;
  height: 40px;
  background-image: url("../images/icons/button-prev.svg");
  background-repeat: no-repeat;
  border: none;
}

.open-catalog-button {
  width: 192px;
  display: block;
  text-align: center;
}

.index-column {
  margin-bottom: 70px;
}

.popular-products {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.popular-container {
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  background-color: #F9F5F0;
  padding: 30px 14px;
  padding-left: 28px;
  display: flex;
  align-items: center;
}

.popular-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.popular-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.popular-all-button {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  border: none;
  margin-left: auto;
  width: 192px;
  text-transform: uppercase;
}

.product-card {
  width: 220px;
  text-align: center;
  border: #EAEAEA solid 1px;
  margin-right: 20px;
  margin-top: 20px;
}

.product-card:nth-child(4n) {
  margin-right: 0;
}

.product-card-title {
  font-weight: 700;
}

.old-price {
  color: #A9A9A9;
  font-weight: 700;
}

.new-price {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  background-color: #EE3643;
  color: #FFFFFF;
  border: none;
  width: 141px;
}

.producer-logo {
  width: 220px;
  min-height: 145px;
  box-sizing: border-box;
  border: #EAEAEA solid 1px;
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
}

.producer-logo:nth-child(4n) {
  margin-right: 0;
}

.producer-link {
  background-color: #FFFFFF;
}

.services {
  background-color: #F1F5F7;
  color: #000000;
}

.services-container {
  width: 940px;
  margin: 0 auto;
  padding-top: 64px;
}

.services-title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.about-services {
  margin: 0;
  margin-bottom: 70px;
}

.services-wrapper {
  display: flex;
}

.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 100px;
}

.services-button {
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;
  background-color: #32425C;
  border: none;
  width: 240px;
  margin-right: 80px;
  padding: 14px 22px 18px 22px;
}

.services-button-active {
  color: #32425C;
  background-color: #FFFFFF;
}

.services-slider {
  background-image: url("../images/delivery-car.png");
  background-repeat: no-repeat;
  background-position: right 22px;
  flex-grow: 1;
}

.services-slider-title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.about-company-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.company {
  width: 460px;
}

.company-title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.company-text {
  margin: 0;
  margin-bottom: 26px;
}

.company-delivery {
  margin: 0;
  margin-bottom: 2px;
}

.company-partner-list {
  list-style-image: url("../images/list-style-type-dash.jpg");
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  padding-left: 36px;
  margin: 0;
  margin-bottom: 20px;
}

.company-partner-item {
  margin-bottom: 12px;
}

.company-partner-item:last-child {
  margin-bottom: 0;
}

.company-details-button {
  display: block;
  width: 220px;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}

.contacts {
  width: 300px;
}

.contacts-title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.contacts-text {
  margin: 0;
  margin-bottom: 32px;
}

.contacts-map-button {
  padding: 0;
  border: none;
  margin-bottom: 25px;
}

.contacts-map-image {
  display: block;
}

.contact-us-button {
  width: 300px;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}

.page-footer {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425C;
}

.page-footer-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.footer-logo {
  width: 220px;
  height: 63px;
  margin-bottom: 22px;
}

.page-footer a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

.footer-contacts {
  color: #F3F7F9;
  margin-bottom: 54px;
}

.footer-contacts-physical-address {
  font-style: normal;
  width: 333px;
  margin: 0;
}

.footer-navigation-list {
  list-style-type: none;
  color: #F1F5F7;
  margin: 0;
  margin-top: 36px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
}

.footer-navigation-item {
  margin-left: 58px;
  margin-bottom: 34px;
}

.footer-navigation-item:nth-child(n + 6) {
  color: #FFD180;
}

.footer-copyright-social-wrapper {
  font-family: "Cuprum", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #293449;
}

.footer-copyright-social-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  padding: 35px 0;
}

.copyright {
  width: 250px;
  margin: 0;
  margin-right: 50px;
  flex-shrink: 0;
}

.footer-social {
  flex-grow: 1;
  margin-right: 20px;
}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social-link {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #212A3A;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: block;
}

.vkontakte-link {
  background-image: url("../images/icons/vkontakte.svg");
}

.facebook-link {
  background-image: url("../images/icons/facebook.svg");
}

.instagram-link {
  background-image: url("../images/icons/instagram.svg");
}

.page-footer .htmlacademy-link {
  color: #FFD180;
}

.feedback {
  width: 140px;
  margin: 0;
  margin-right: 50px;
  flex-shrink: 0;
}

.about-text {
  width: 110px;
  margin: 0;
  flex-shrink: 0;
}

.menu-link-filled {
  background-color: #EE3643;
}

.catalog-user-block {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
}

.user-block-link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  display: block;
  padding: 12px 56px;
}

.user-menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 210px;
}

.user-menu-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
}

.main-inner {
  font-size: 13px;
  line-height: 18px;
  padding-top: 20px;
}

.inner-header {
  margin-bottom: 20px;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumbs-link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 42px;
}

.breadcrumbs-home-link {
  padding: 8px 8px;
  width: 16px;
  height: 16px;
  display: block;
  background-image: url("../images/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.catalog-products-container {
  display: flex;
}

.catalog-filter {
  min-width: 220px;
  width: 220px;
  margin-right: 20px;
}

.catalog-title {
  background-color: #F1F5F7;
  color: #32425C;
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  padding: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.catalog-filter-title {
  background-color: #F7F3EC;
  font-size: inherit;
  font-weight: 400;
  padding: 10px 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
}

.filter-group-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.control {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.show-product-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: #E5E5E5 solid 1px;
  width: 220px;
  padding: 10px 78px;
}

.catalog-sort-container {
  margin-bottom: 60px;
}

.catalog-sort {
  width: 700px;
  padding: 10px 14px 0 19px;
  background-color: #F7F3EC;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.catalog-sort-title {
  background-color: #F7F3EC;
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 9px;
  min-width: 100px;
}

.catalog-sort-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-sort-item {
  margin-bottom: 9px;
}

.catalog-sort-button {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #EE3643;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
}

.catalog-sort-button-active {
  color: #EE3643;
  text-decoration: none;
}

.low-high-sort-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.low-high-sort-item:not(:last-child) {
  margin-right: 21px;
}

.sort-button {
  background-image: url("../images/icons/triangle-grey-2.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;
  width: 12px;
  height: 12px;
}

.sort-button:last-child {
  margin: 0;
}

.sort-button-active {
  background-image: url("../images/icons/triangle-red-1.svg");
  background-repeat: no-repeat;
}

.catalog-product-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.catalog-product-card {
  width: 220px;
  border: #EAEAEA solid 1px;
  margin-right: 20px;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 21px 18px;
}

.catalog-product-card:nth-child(3n) {
  margin-right: 0;
}

.product-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

}

.product-card-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.purchase-button {
  background-color: #63A63E;
  color: #FFFFFF;
  border: none;
}

.add-bookmark-button {
  background-color: #FFFFFF;
  border: #63A63E solid 3px;
  color: #32425C;
}

.pagination {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 10px;
}

.pagination-link {
  color: #000000;
  background-color: #FFFFFF;
  border: #E5E5E5 solid 1px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 10px 15px;
}

.pagination-next {
  padding: 10px 32px;
}

.pagination-current {
  color: #FFFFFF;
  background-color: #EE3643;
}

.about-perforators-wrapper {
  background-color: #F1F5F7;
}

.about-perforators {
  width: 940px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 68px;
}

.about-perforators-title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.about-perforators-text {
  line-height: 24px;
  margin: 0;
}
